@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Yacov Rosenberg</h1>
    <p class="lead">Yavoc.rosenberg@al.infnet.edu.br</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SaaS - Software as a Service</h2>
        <p>
            SaaS em portugués seria a sigla de Software como um serviço. É um programa que não é instalado e que é usado como um serviço através da conexão com a Internet. Disponibilizar um produto no formato SaaS é uma maneira de distribuir um conteúdo ou solução tecnológica de uma forma mais acessível e segura.
            A Netflix é um exemplo notório que tem ganhado destaque no mundo todo.

            Mais de 40 milhões de pessoas utilizam esse SaaS que inovou o mercado.

            Outro exemplo é a Paypal, a maior plataforma de pagamentos online que existe no mundo todo.

            Também temos o Spotify, uma plataforma em SaaS que oferece um serviço de streaming de música e tem se tornado cada vez mais popular no mercado.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PaaS - plataforma como serviço </h2>
        <p>PaaS é uma plataforma de nuvem que permite aos desenvolvedores desenvolver, executar e gerenciar aplicativos rapidamente, sem a despesa de capital e os requisitos de manutenção de uma infraestrutura interna.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IaaS - Infraestrutura como serviço
        </h2>
        <p>Em computação em nuvem, Infraestrutura como serviço, também conhecido como Infrastructure as a Service ou IaaS é uma infraestrutura de servidores acessada através da Internet [1] que pode ser consumida como um serviço[2].

            Deste modo o usuário do serviço pode acessar recursos, tal como armazenamento, através da rede e também diminuir custos com a manutenção da infraestrutura que foi terceirizada.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>